
  <div class="ui card">
    <div class="image">
      <img src="/styles/images/gamespherehome.png">
    </div>
    <div class="content">
      <a target="_blank" class="header" href="https://gamesphere.herokuapp.com">GameSphere</a>
      <div class="meta">
        <span class="created">Created June 2016</span>
      </div>
      <div class="description">
        A video game library for the indecisive
      </div>
    </div>
    <!-- <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div> -->
  </div>
